@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body{

    font-size: 1.5rem;;
    font-family: 'Noto Sans JP', sans-serif;

}

.block { 

    width: 10vw;
    height: 10vw;
    background-color: black;
    color: white;
    padding: 1rem;

}

.left{

    float: left;
    margin-right: 1rem;

}

.right{

    float: right;
    margin-left: 1rem;

}

.section1{

    background-color:bisque;
    border:1px solid red;
    padding: 1rem;

}

.section2{

    background-color:bisque;
    border:1px solid red;
    padding: 1rem;
    overflow: auto;
    display: flow-root; /* Ayrıca overflow:auto; yöntemiyle de çözübelilir ancak doğru yol displaydir */

}